################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TrackerSimulator/.vs
/TrackerSimulator/TrackerSimulator/bin/Debug/net8.0-windows
/TrackerSimulator/TrackerSimulator/obj
